.btn {
  border-radius: 20px;
}

.confirm-add {
  background-color: #5e72e4;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out; /* add transition effect */
}

.confirm-add:hover {
  background-color: #4b5cb7; /* darken background on hover */
}

.delete-cancel {
  background-color: #EB4747;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out; /* add transition effect */
}

.delete-cancel:hover {
  background-color: #c43f3f; /* darken background on hover */
}

.success {
  background-color: #36AE7C;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out; /* add transition effect */
}

.success:hover {
  background-color: #2d8f5e; /* darken background on hover */
}


/********** DARK MODE THEME STYLING **********/

#light {
  background-color: #ffffff;
}

#dark {
  background-color: #4a4a4a;
}

.dark-mode-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#light .dark-mode-toggle label {
  color: black;
}

#dark .dark-mode-toggle label {
  color: white;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#light .greeting {
  color: black;
}

#dark .greeting {
  color: white;
}

#light .dashboard {
  background-color: #ffffff;
}

#dark .dashboard {
  background-color: #4a4a4a;
}

#light .nav-header {
  background-color: #f7f7f7;
  color: black;
}

#dark .nav-header {
  background-color: #4a4a4a;
  color: white;
}