.btn {
  border-radius: 20px;
}

.confirm-add {
  background-color: #5e72e4;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out; /* add transition effect */
}

.confirm-add:hover {
  background-color: #4b5cb7; /* darken background on hover */
}

.delete-cancel {
  background-color: #EB4747;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out; /* add transition effect */
}

.delete-cancel:hover {
  background-color: #c43f3f; /* darken background on hover */
}

.success {
  background-color: #36AE7C;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out; /* add transition effect */
}

.success:hover {
  background-color: #2d8f5e; /* darken background on hover */
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}