/* .modal-content {
  height: calc(100vh - 100px);
 } */
 
 
 /* ------------------KitchenItemList--------------------------------- */
 
 .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
 }
 
 
 .add-button {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
 }
 .container {
  background-color: #f7f7f7;
  padding: 20px;
 }
 
 
 .accordion-item {
  border: none;
 }
 
 
 .accordion-header {
  background-color: #fff;
  color: #333;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
 }
 
 
 .accordion-body {
  padding: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
 }
