/* Styling for the main container */
main {
  min-height: 100vh;
}

.greeting {
  margin-top: 10px;
}

.dash-card {
  margin-top: 10px;
  height: 150px;
  display: flex;
  flex-direction: row-reverse;
}

.dash-card img {
  margin-top: 20px;
  width: 130px;
  height: 130px;
  justify-content: left;
}

.dash-card:hover {
  background-color: black;
}

.dash-card:hover .dash-div {
  color: white;
}

.dash-div {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  cursor: pointer;
  font-size: 24px;
}

@media only screen and (min-width: 550px) {
  .dash-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    cursor: pointer;
    font-size: 24px;
    }
}

.veg-footer1 {
  position: fixed;
  left: 0;
  bottom: 21px; 
  width: 100%;
  text-align: center;
  z-index: 0;

}

.random-recipe { 
  position: relative;

  z-index: 1;
}

hr.solid-dash {
  border-top: 2px solid #999;
  margin: 2em;
}