/* Styling for the main container */
main {
  min-height: 100vh;
}

.dash-card {
  margin-top: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-card:hover {
  background-color: black;
}

.dash-card:hover .dash-div {
  color: white;
}

.dash-div {
    cursor: pointer;
    font-size: 24px;
  }


.veg-footer2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.veg-footer1 {
  position: fixed;
  left: 0;
  bottom:17px;
  width: 100%;
  padding: 10px;
  text-align: center;
}
