/* css */
.goTopHidden {
  display: none;
}

.goTop {
  display: block;
}

.goTop .goTop_text {
  position: fixed;
  width: 20px;
  height:20px;
  bottom: 5%;
  left: 92%;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}

.goTop .goTop_text:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 630px) and (max-width: 991px) {
  .goTop .goTop_text {
    width: 30px;
    height: 30px;
    bottom: 20px;
    left: 92%;
    line-height: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .goTop .goTop_text {
    width: 30px;
    height: 30px;
    bottom: 20px;
    left: 96%;
    line-height: 30px;
  }
}



