.nav-button {
  border: none;
  font-size: 150%
}

.dark-mode {
  display:flex;
  flex-direction: row;
  padding-left: 20px;
  gap: 10px
}

.button-list{
  display: flex;
  flex-direction: column;
}

.logout-container{
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 50px;
  text-align: center;
}

.nav-user{
  padding: 20px
}
