.nav-button {
  border: none;
  font-size: 150%
}

.button-list{
  display: flex;
  flex-direction: column;
}

.logout-container{
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 50px;
  text-align: center;
}

.nav-user{
  padding: 20px
}

hr.solid-nav {
  border-top: 2px solid #999;
}

.offcanvas-title {
  font-family: "Astro";
}