.recipe-accordion {
  margin: 10px 0px 0px 0px;
  height: 100px;
}

.recipe-title {
  font-size: 140%;
  margin-bottom: 10px;
}
.recipe-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.dash-card-recipe {
  text-align: center;
  background-color: none;
}

/* .recipe-body {
  border: solid;
  border-color: grey;
  border-width: 0px 1px 1px 1px;
} */

.dash-card-recipe-header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 50px;
  border-radius: 10px;
  border: 1px;
  border-color: rgb(209, 209, 209);
  background: none;
}

.cook-times {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px 10px;
}

.ingredients {
  margin: 10px 20px 10px;
  text-align: left;
}
.instructions {
  margin: 10px 20px 10px;
  text-align: left;
}

.about-chef-rec {
  margin: 10px 20px 10px;
  text-align: left;
}

/* .recipe-body:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
} */

/* .recipe-accordion:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 

} */
.dash-card-recipe-header:hover {

}


