.create-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  border-radius: 20px
}

.message {
  text-align: center;
}

/* .create-recipe {
  border-radius: 20px;
  background-color: black;
  color: white;
} */

.toggle {
  text-align: center;
}

.recipe-body {
  display: grid
  grid-template
}

@media only screen and (min-width: 768px) {
  .message {
    text-align: center;
    margin-bottom: 20px;

  }
}