.create-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.toggle {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .message {
    text-align: center;
    margin-bottom: 20px;

  
  
  }
}