
/* ----------------RecipeItem Styling --------------------*/
.icons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  margin-right: 25px;
  font-size: 1rem;
}

.icon:hover{
  transform: scale(1.2)
 }



@media only screen and (min-width: 768px) {
  .icons {
    font-size: 1.5rem;
  
  }
}


/* ----------------RecipeNoteForm Styling --------------------*/

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.recipe-title {
  text-align: center;
}

/* ----------------RecipeItemList Styling --------------------*/

.plated {
  margin-top: 10px;
  width: 80px;
  height: 80px;
}


@media only screen and (min-width: 550px) {
  .plated {
    margin-top: 10px;
    width: 200px;
    height: 200px;
  }
}


